@charset "utf-8";

html{
  font-size: 60%;
}

body{
  background-color: #1b1c1c;
  
  font-family: 'Roboto', 'Noto Sans JP';

  padding: 4.7rem;
}

/* locations */
.header{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  font-weight: 300;
  font-size: 2.4rem;

  color: #f2f0f1;

  padding-bottom: 4rem;
}

.reload{
  width: 1.8rem;
  padding-right: 1.2rem;
}

/* list */
.train{
  display: flex;
  color: #f2f0f1;
  padding-bottom: 3.2rem;
}

.information{
  margin-right: 1.6rem;
}


.time{
  display: flex;
  font-weight: 600;
  font-size: 3.2rem;
}

.arrow{
  font-weight: 100;
  
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.waiting{
  font-weight: 300;
  font-size: 1.6rem;
  padding-top: 0.2rem;
}


.progress{
  flex: 1;

  display: flex;
  align-content: space-between;
  margin: auto ;
  gap: 0.4rem;
  background-color: #0d0d0d;
}

.iwade{
  flex: 15;
  height: 0.5rem;
  border-radius: 1rem;
  
  float: left;
  
  background-color: #F79FBA;
}

.wakayama{
  flex: 1;
  height: 0.5rem;
  border-radius: 1rem;

  float: left;  

  background-color: #f2f0f1;
}

.miyamae{
  flex: 3;
  height: 0.5rem;
  border-radius: 1rem;

  float: left;

  background-color: #00a6b4;
}


#test{
  color: #f2f0f1;
  font-size: 2rem;

  display: none;
}