@charset "utf-8";

html{
  font-size: 60%;
}

body{
  background-color: #1b1c1c;
  
  font-family: 'Roboto', 'Noto Sans JP';

  padding: 4.7rem;
}

/* header */
.header{
  font-weight: 300;
  font-size: 2.4rem;

  color: #f2f0f1;

  padding-bottom: 2.4rem;
}

/* list */
.train-001{
  color: #f2f0f1;
  padding-bottom: 4.2rem;
}

.time{
  font-weight: 600;
  font-size: 3.2rem;
}

.leave{
  color: #FF8E1F;
  float: left;
}

.arrow{
  float: left;
  
  font-weight: 100;
  
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.waiting{
  font-weight: 300;
  font-size: 1.6rem;
  padding-top: 0.2rem;
  float: left;
}

.progress{
}

.iwade{
  width: 10rem;
  height: 1rem;
  border-radius: 1rem;
  
  float: left;
  
  background-color: #F79FBA;
}

.wakayama{
  width: 10rem;
  height: 1rem;
  border-radius: 1rem;

  float: left;  

  background-color: #f2f0f1;
}

.miyamae{
  width: 10rem;
  height: 1rem;
  border-radius: 1rem;

  float: left;

  background-color: #00a6b4;
}


.test{
  /* display: flex; */
  /* justify-content: space-between; */
  font-size: 2rem;
  color: #ffffff;
}

ul{
  display: flex;
  align-items: center;
  gap:1rem;
}